<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
 
 
    
</head>
<div class="footer" id="footer">

    <footer>

    <div style="text-align: center">
    </div>
        <div class="line"></div>

        <div style="text-align: center">
        <div class="icons">

            <a id="insta" href="#">
                <i class="fa fa-instagram" aria-hidden="true" style="font-size:25px"></i>
            </a>
            <a id="facebook" href="#">
                <i class="fa fa-facebook" aria-hidden="true" style="font-size:25px"></i>
            </a>
            <a id="linkedin" href="#">
                <i class="fa fa-linkedin" aria-hidden="true" style="font-size:25px"></i>
            </a>
        
        </div>
    </div>
        
    <!--    <div class="foot">
                <p>Our primary intention is to promote all - round development of students through interactive sessions, events, workshops and projects that help them percieve real-world problems. We strive hard to educate and guide our members by equpping them with technical and management skills, thereby enabling them to make significant contributions towards the community.</p>
        </div>-->

       <div   style="color: rgb(87, 84, 84);text-align: center;">© 2022 — CodeChef CMRTC CHAPTER</div>
   
    </footer>

 </div>