<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="codechefcmrtc.tech" class="navbar-brand">
                <img src="./assets/logo.jpg" height="50" alt="Codechef cmrtc ">
           Codechef CMRTC
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a  href="codechefcmrtc.tech" class="nav-item nav-link active">Home</a>
                    <a routerLink="joinclub"  class="nav-item nav-link">Join club</a>
                    <a routerLink="privacy-policy" class="nav-item nav-link">Privacy Policy</a>

                </div>
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </div>
    </nav>
</div>
